# Environment and build
.env
node_modules/
target/
**/target/
**/target_test-classes/

# Mac system files
.DS_Store
**/.DS_Store

# Project specific
scripts/output/
src/main/resources/schemas/
src/test/resources/schemas/
.env*
!.env.project
!.env.vault
.flaskenv*

# schema-private files from S3Bucket
schemas/TKR/*
schemas/Bluemint/*
test/fixtures/TKR/*
test/fixtures/Bluemint/*
