@use '@angular/material' as mat;
@use 'sass:map';
@use 'colors';

@include mat.elevation-classes();
@include mat.app-background();

// Define custom Material palettes
$custom-primary: mat.m2-define-palette(
  (
    50: map.get(colors.$colors, primary-50),
    100: map.get(colors.$colors, primary-100),
    200: map.get(colors.$colors, primary-200),
    300: map.get(colors.$colors, primary-300),
    400: map.get(colors.$colors, primary-400),
    500: map.get(colors.$colors, primary-500),
    // Typically the default choice
    600: map.get(colors.$colors, primary-600),
    700: map.get(colors.$colors, primary-700),
    800: map.get(colors.$colors, primary-800),
    900: map.get(colors.$colors, primary-900),
    contrast: (
      50: map.get(colors.$colors, black),
      100: map.get(colors.$colors, black),
      200: map.get(colors.$colors, white),
      300: map.get(colors.$colors, white),
      400: map.get(colors.$colors, white),
      500: map.get(colors.$colors, white),
      600: map.get(colors.$colors, white),
      700: map.get(colors.$colors, white),
      800: map.get(colors.$colors, white),
      900: map.get(colors.$colors, white),
    ),
  )
);

$custom-accent: mat.m2-define-palette(
  (
    50: map.get(colors.$colors, secondary-50),
    100: map.get(colors.$colors, secondary-100),
    200: map.get(colors.$colors, secondary-200),
    300: map.get(colors.$colors, secondary-300),
    400: map.get(colors.$colors, secondary-400),
    500: map.get(colors.$colors, secondary-500),
    // Typically the default choice
    600: map.get(colors.$colors, secondary-600),
    700: map.get(colors.$colors, secondary-700),
    800: map.get(colors.$colors, secondary-800),
    900: map.get(colors.$colors, secondary-900),
    contrast: (
      50: map.get(colors.$colors, black),
      100: map.get(colors.$colors, black),
      200: map.get(colors.$colors, black),
      300: map.get(colors.$colors, black),
      400: map.get(colors.$colors, black),
      500: map.get(colors.$colors, white),
      600: map.get(colors.$colors, white),
      700: map.get(colors.$colors, white),
      800: map.get(colors.$colors, white),
      900: map.get(colors.$colors, white),
    ),
  )
);

$custom-warn: mat.m2-define-palette(mat.$m2-red-palette);

$light-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $custom-primary,
      accent: $custom-accent,
      warn: $custom-warn,
    ),
  )
);

$dark-theme: mat.m2-define-dark-theme(
  (
    color: (
      primary: $custom-primary,
      accent: $custom-accent,
      warn: $custom-warn,
    ),
  )
);

@include mat.all-component-themes($light-theme);
